![CLARUSWAY_UNDER-MIDDLE-SCALE_1917x399.png](attachment:CLARUSWAY_UNDER-MIDDLE-SCALE_1917x399.png)

# Weekly Agenda

## Question-1

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import re

# to avoid warnings
import warnings
warnings.filterwarnings('ignore')
warnings.warn("this will not show")

#### **1.	Read the dataset as a dataframe via dataset link. Create a copy of your dataframe. Solve the rest of the questions using this dataframe copy.**

dataset: "weatherAUS.csv" in [Clarusway Github Repo](https://raw.githubusercontent.com/clarusway/DS-0921-Students-DA-Module/main/2-Weekly%20Agenda/weatherAUS.csv?token=AQT6VNXP4MQ4EUVGPYIVJFLBLCUK4)

In [60]:
df = pd.read_csv('weatherAUS.csv')

#### 2.	Find out the describe and info attributes of the dataframe.

In [5]:
df.describe()

             MinTemp        MaxTemp  ...        Temp9am       Temp3pm
count  143975.000000  144199.000000  ...  143693.000000  141851.00000
mean       12.194034      23.221348  ...      16.990631      21.68339
std         6.398495       7.119049  ...       6.488753       6.93665
min        -8.500000      -4.800000  ...      -7.200000      -5.40000
25%         7.600000      17.900000  ...      12.300000      16.60000
50%        12.000000      22.600000  ...      16.700000      21.10000
75%        16.900000      28.200000  ...      21.600000      26.40000
max        33.900000      48.100000  ...      40.200000      46.70000

[8 rows x 16 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

#### 3.	Find out the shape and size info of the dataset.

In [8]:
df.shape

(145460, 23)

In [ ]:
# ...

9

#### 4.	Find out the types values of the columns and save the result as a dataframe.

In [19]:
df.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

#### 5.	Find out the non-null counts of the columns and save the result as a dataframe.

In [37]:
df.notnull().count()

Date             145460
Location         145460
MinTemp          145460
MaxTemp          145460
Rainfall         145460
Evaporation      145460
Sunshine         145460
WindGustDir      145460
WindGustSpeed    145460
WindDir9am       145460
WindDir3pm       145460
WindSpeed9am     145460
WindSpeed3pm     145460
Humidity9am      145460
Humidity3pm      145460
Pressure9am      145460
Pressure3pm      145460
Cloud9am         145460
Cloud3pm         145460
Temp9am          145460
Temp3pm          145460
RainToday        145460
RainTomorrow     145460
dtype: int64

#### 6.	Find out the null counts of the columns and save the result as a dataframe.

In [ ]:
# ...

               isnull
Date                0
Location            0
MinTemp          1485
MaxTemp          1261
Rainfall         3261
Evaporation     62790
Sunshine        69835
WindGustDir     10326
WindGustSpeed   10263
WindDir9am      10566
WindDir3pm       4228
WindSpeed9am     1767
WindSpeed3pm     3062
Humidity9am      2654
Humidity3pm      4507
Pressure9am     15065
Pressure3pm     15028
Cloud9am        55888
Cloud3pm        59358
Temp9am          1767
Temp3pm          3609
RainToday        3261
RainTomorrow     3267

#### 7.	Find out the unique counts of the columns and save the result as a dataframe.

In [42]:
df.nunique()

Date             3436
Location           49
MinTemp           389
MaxTemp           505
Rainfall          681
Evaporation       358
Sunshine          145
WindGustDir        16
WindGustSpeed      67
WindDir9am         16
WindDir3pm         16
WindSpeed9am       43
WindSpeed3pm       44
Humidity9am       101
Humidity3pm       101
Pressure9am       546
Pressure3pm       549
Cloud9am           10
Cloud3pm           10
Temp9am           441
Temp3pm           502
RainToday           2
RainTomorrow        2
dtype: int64

#### 8.	Merge the dataframes you created in questions 4-5-6-7. Expected output: example result

In [ ]:
# ...

          Columns   dtypes  notnull  isnull  nunique
0            Date   object   145460       0     3436
1        Location   object   145460       0       49
2         MinTemp  float64   143975    1485      389
3         MaxTemp  float64   144199    1261      505
4        Rainfall  float64   142199    3261      681
5     Evaporation  float64    82670   62790      358
6        Sunshine  float64    75625   69835      145
7     WindGustDir   object   135134   10326       16
8   WindGustSpeed  float64   135197   10263       67
9      WindDir9am   object   134894   10566       16
10     WindDir3pm   object   141232    4228       16
11   WindSpeed9am  float64   143693    1767       43
12   WindSpeed3pm  float64   142398    3062       44
13    Humidity9am  float64   142806    2654      101
14    Humidity3pm  float64   140953    4507      101
15    Pressure9am  float64   130395   15065      546
16    Pressure3pm  float64   130432   15028      549
17       Cloud9am  float64    89572   55888       10
18       Cloud3pm  float64    86102   59358       10
19        Temp9am  float64   143693    1767      441
20        Temp3pm  float64   141851    3609      502
21      RainToday   object   142199    3261        2
22   RainTomorrow   object   142193    3267        2

#### 9.	Lowercase all column names.

In [61]:
df.columns.str.lower()

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am',
       'temp3pm', 'raintoday', 'raintomorrow'],
      dtype='object')

#### 10.	Change all the No values to NoRain and all the Yes values to Rain in raintoday and raintomorrow columns.

#### 11.	Change the data type of "date" (object) column to datetime64 and reformat the date as DD/MM/YYYY.

In [63]:
df['Date'] = pd.to_datetime(df['Date'])

#### 12.	Create a new column called "difference", calculate the difference between maxtemp and mintemp columns for each row, and store the value in this new column.

In [64]:
df['difference'] = df['MaxTemp']-df['MinTemp']

#### 13.	Remove the evaporation and sunshine columns from the dataset permanently.

In [67]:
df.drop(['Evaporation','Sunshine'],axis=1,inplace=True)

#### 14.	Find out the most rainy day for each city.

In [69]:
df.head()

        Date Location  MinTemp  ...  RainToday  RainTomorrow difference
0 2008-12-01   Albury     13.4  ...         No            No        9.5
1 2008-12-02   Albury      7.4  ...         No            No       17.7
2 2008-12-03   Albury     12.9  ...         No            No       12.8
3 2008-12-04   Albury      9.2  ...         No            No       18.8
4 2008-12-05   Albury     17.5  ...         No            No       14.8

[5 rows x 22 columns]

#### 15.	Filter out all the data for the city 'Albury' and then sort according to maxtemp column.

In [81]:
df.loc[df['Location'] == 'Albury'].sort_values(by='MaxTemp',ascending = False)

           Date Location  MinTemp  ...  RainToday  RainTomorrow difference
68   2009-02-07   Albury     22.3  ...         No            No       22.5
2904 2017-02-10   Albury     23.0  ...         No            No       20.7
1783 2014-01-16   Albury     23.0  ...         No            No       20.6
1435 2013-01-05   Albury     19.8  ...         No           Yes       23.6
62   2009-02-01   Albury     28.0  ...         No            No       15.1
...         ...      ...      ...  ...        ...           ...        ...
984  2011-09-11   Albury      NaN  ...        NaN           NaN        NaN
985  2011-09-12   Albury      NaN  ...        NaN           NaN        NaN
1529 2013-05-07   Albury      3.9  ...         No           NaN        NaN
2031 2014-09-21   Albury      3.4  ...         No           NaN        NaN
2032 2014-09-22   Albury      NaN  ...        NaN           NaN        NaN

[3040 rows x 22 columns]

#### 16.	Find out the NaN counts for each column.

In [85]:
df.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
difference        1881
dtype: int64

#### 17.	Remove the rows with NaN values in "windgustdir" column from the dataframe permanently.

In [89]:
df.dropna(subset=['WindGustDir'],inplace=True)
df.isna().sum()

Date                 0
Location             0
MinTemp            738
MaxTemp            562
Rainfall          2660
WindGustDir          0
WindGustSpeed        0
WindDir9am        7615
WindDir3pm         970
WindSpeed9am       343
WindSpeed3pm       281
Humidity9am       1893
Humidity3pm       2375
Pressure9am      10780
Pressure3pm      10739
Cloud9am         53582
Cloud3pm         55642
Temp9am           1089
Temp3pm           1547
RainToday         2660
RainTomorrow      2271
difference         798
dtype: int64

In [ ]:
# ...

#### 18.	Create a new dataframe, use "Location" column as the index of the dataframe, display the min, max, and median values of "evaporation" and "sunshine" columns in this dataframe.

In [103]:
new_df = pd.read_csv('weatherAUS.csv')

new_df.groupby(['Location']).agg([min,max,'median']).loc[:,'Evaporation':'Sunshine']

                 Evaporation               Sunshine
                         min    max median      min   max median
Location
Adelaide                 0.0   43.4    4.2      0.0  13.9   8.40
Albany                   0.0   33.6    3.8      0.0  13.8   6.90
Albury                   NaN    NaN    NaN      NaN   NaN    NaN
AliceSprings             0.0   50.2    8.2      0.0  13.5  10.60
BadgerysCreek            NaN    NaN    NaN      NaN   NaN    NaN
Ballarat                 NaN    NaN    NaN      NaN   NaN    NaN
Bendigo                  0.0   15.4    3.1      NaN   NaN    NaN
Brisbane                 0.0   44.0    5.2      0.0  13.5   9.40
Cairns                   0.2   44.4    6.0      0.0  12.8   8.60
Canberra                 0.0   20.0    3.6      0.0  13.6   8.00
Cobar                    0.0   86.2    5.6      0.0  13.7   9.90
CoffsHarbour             0.0   19.8    3.6      0.0  13.8   8.50
Dartmoor                 0.0   16.4    2.8      0.0  14.3   6.50
Darwin                   0.2   19.2    6.4      0.0  12.3  10.00
GoldCoast                NaN    NaN    NaN      NaN   NaN    NaN
Hobart                   0.0   20.2    3.2      0.0  14.2   7.00
Katherine                0.0   31.0    7.2      NaN   NaN    NaN
Launceston               0.0   30.4    5.2      NaN   NaN    NaN
Melbourne                0.0   23.8    4.0      0.0  13.9   6.50
MelbourneAirport         0.0   23.8    4.0      0.0  13.9   6.50
Mildura                  0.0   23.2    5.2      0.0  14.5   9.10
Moree                    0.2   65.4    6.4      0.0  14.0  10.10
MountGambier             0.0   16.4    2.8      0.0  14.3   6.50
MountGinini              NaN    NaN    NaN      NaN   NaN    NaN
Newcastle                NaN    NaN    NaN      NaN   NaN    NaN
Nhil                     NaN    NaN    NaN      NaN   NaN    NaN
NorahHead                NaN    NaN    NaN      NaN   NaN    NaN
NorfolkIsland            0.0   74.8    4.4      0.0  13.3   7.80
Nuriootpa                0.0   42.6    4.0      0.0  14.3   8.20
PearceRAAF               NaN    NaN    NaN      0.0  13.9   9.40
Penrith                  NaN    NaN    NaN      NaN   NaN    NaN
Perth                    0.0   17.0    4.8      0.0  13.9   9.40
PerthAirport             0.0   17.0    5.0      0.0  13.9   9.40
Portland                 0.0   16.4    2.8      0.0  14.3   6.50
Richmond                 0.0   37.2    4.0      NaN   NaN    NaN
Sale                     0.0   18.0    3.4      0.0  13.9   7.05
SalmonGums               NaN    NaN    NaN      NaN   NaN    NaN
Sydney                   0.0   18.4    4.8      0.0  13.6   8.30
SydneyAirport            0.0   18.4    4.8      0.0  13.6   8.20
Townsville               0.4   30.2    7.0      0.0  12.8  10.00
Tuggeranong              NaN    NaN    NaN      NaN   NaN    NaN
Uluru                    NaN    NaN    NaN      NaN   NaN    NaN
WaggaWagga               0.0   39.4    4.0      0.0  14.1   9.10
Walpole                  NaN    NaN    NaN      NaN   NaN    NaN
Watsonia                 0.0   23.8    4.0      0.0  13.9   6.50
Williamtown              0.0  145.0    5.2      0.0  13.7   8.10
Witchcliffe              NaN    NaN    NaN      NaN   NaN    NaN
Wollongong               NaN    NaN    NaN      NaN   NaN    NaN
Woomera                  0.0   82.4    8.4      0.0  14.2   9.90

#### 19.	Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')

In [116]:
df.loc[df['Location']== 'Perth',['Location','Date','MaxTemp']]['MaxTemp'].max()

44.4

In [ ]:
# ...

       location       date  maxtemp
122928    Perth 2015-01-05     44.4

#### 20.	Group your dataframe by location and find out the averages of all numeric values.

In [118]:
df.groupby('Location').mean()

                    MinTemp    MaxTemp  ...    Temp3pm  difference
Location                                ...
Adelaide          12.571487  22.891254  ...  21.552038   10.319766
Albury             9.518588  22.629555  ...  21.361802   13.113258
AliceSprings      13.155254  29.281325  ...  28.043254   16.128423
BadgerysCreek     11.135741  24.014949  ...  22.513928   12.876525
Ballarat           7.348670  18.267930  ...  16.772537   10.918152
Bendigo            8.611841  21.625609  ...  20.251734   13.009773
Brisbane          16.414204  26.436043  ...  24.734087   10.018130
Cairns            21.225099  29.559550  ...  27.911188    8.335563
Canberra           6.670100  20.731579  ...  19.246330   14.061479
Cobar             13.131412  25.853488  ...  24.517262   12.722076
CoffsHarbour      14.522998  23.971493  ...  22.372951    9.450322
Dartmoor           8.620518  19.696769  ...  18.181354   11.061622
Darwin            23.190022  32.538259  ...  31.087095    9.348236
GoldCoast         17.287324  25.713189  ...  23.712466    8.421213
Hobart             9.080883  17.858517  ...  16.166835    8.777634
Katherine         20.546272  34.915762  ...  33.551130   14.394619
Launceston         7.858822  18.983062  ...  17.709860   11.122877
Melbourne         11.770359  20.760489  ...  19.263822    8.992291
MelbourneAirport   9.962558  20.478958  ...  18.947027   10.516399
Mildura           10.738782  24.848202  ...  23.434266   14.109421
Moree             12.909625  26.975060  ...  25.678028   14.063720
MountGambier       8.820797  19.818882  ...  18.170476   10.999096
MountGinini        3.487122  11.506027  ...  10.086023    8.059164
Nhil               8.991959  22.394576  ...  20.863114   13.402616
NorahHead         15.346429  22.583152  ...  20.760368    7.236067
NorfolkIsland     16.868073  21.827935  ...  20.471178    4.961323
Nuriootpa          9.404508  21.751250  ...  20.358917   12.363729
PearceRAAF        12.295443  26.052760  ...  24.493833   13.740498
Penrith           12.537888  24.733782  ...  23.329386   12.196018
Perth             12.921769  25.037402  ...  23.463331   12.114120
PerthAirport      12.593723  25.541714  ...  24.092944   12.947992
Portland           9.586485  18.047209  ...  16.501621    8.458072
Richmond          11.333866  24.455586  ...  23.124692   13.112857
Sale               8.595363  20.321583  ...  18.818940   11.726220
SalmonGums         9.376693  24.288645  ...  22.708857   14.923624
Sydney            15.062213  23.292758  ...  21.748349    8.230542
SydneyAirport     14.893845  23.394050  ...  21.785188    8.498783
Townsville        20.412931  29.361485  ...  27.765462    8.949702
Tuggeranong        7.235581  20.771295  ...  19.438480   13.538731
Uluru             14.399533  30.389633  ...  29.071832   16.021281
WaggaWagga         9.628212  23.046863  ...  21.766152   13.418651
Walpole           11.837917  20.491127  ...  18.591719    8.660202
Watsonia          10.115729  20.858445  ...  19.363694   10.739744
Williamtown       12.774443  23.985346  ...  22.475279   11.210689
Witchcliffe       10.786932  21.685407  ...  19.806052   10.895081
Wollongong        14.919289  21.445166  ...  19.915692    6.521872
Woomera           13.410819  26.639327  ...  25.244879   13.222076

[47 rows x 15 columns]

In [ ]:
# ...

,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,difference
location,,,,,,,,,,,,,,,,,
Adelaide,12.579505,22.898934,1.566354,5.770364,7.747993,36.499211,9.950125,15.471455,59.701066,44.828105,1018.764082,1016.803264,NaN,NaN,16.929046,21.557447,10.319599
Albany,12.948438,20.070998,2.263859,4.213345,6.657460,NaN,12.503189,18.993498,74.805416,67.407917,1018.275721,1016.497280,5.191539,4.808072,16.236455,18.411555,7.087363
Albury,9.530604,22.640872,1.914115,NaN,NaN,32.977394,8.211151,14.382965,74.070604,47.869393,1018.369621,1015.760752,6.391001,5.406447,14.361135,21.373780,13.112082
AliceSprings,13.142284,29.248420,0.882850,9.026832,9.581944,40.531281,14.727452,18.101053,39.690155,24.131466,1016.684732,1012.871913,2.845898,3.251213,21.335658,28.010764,16.107277
BadgerysCreek,11.131719,24.031208,2.193101,NaN,NaN,33.600409,8.051351,14.005404,76.895770,51.381855,1018.461598,1015.635120,NaN,NaN,16.571698,22.522698,12.892686
Ballarat,7.367950,18.287266,1.740026,NaN,NaN,44.982719,19.976913,22.766798,81.817820,59.030992,1017.845093,1016.271201,5.797915,6.285643,11.672457,16.788365,10.916294
Bendigo,8.593713,21.621746,1.619380,3.851730,NaN,38.850000,12.936100,17.159091,70.545664,46.474325,1018.026281,1015.873135,4.400097,4.855379,13.845275,20.249737,13.024687
Brisbane,16.423807,26.448380,3.144891,5.407940,8.081170,28.212881,6.944236,10.998744,64.043587,53.912209,1018.232989,1015.099278,3.918546,3.879975,21.841173,24.753461,10.023518
Cairns,21.220467,29.558849,5.742035,6.256891,7.571451,38.031436,15.902929,21.911813,69.936821,61.751645,1014.151333,1011.099441,4.560184,4.445196,25.820105,27.909112,8.339487
Canberra,6.821866,20.976639,1.741720,4.399672,7.402038,40.064214,10.407546,19.127918,73.218500,45.825350,1018.986480,1016.236299,4.870981,4.784630,12.677297,19.472878,14.139061
Cobar,13.149451,25.870093,1.127309,6.744861,8.674364,36.750590,14.655749,15.144478,55.152913,33.870666,1017.971937,1015.304325,3.303918,3.859682,18.119160,24.545203,12.728039
CoffsHarbour,14.437108,23.965385,5.061497,3.905154,7.358367,39.227925,15.280870,21.201916,67.938127,62.351858,1018.215308,1015.829292,4.326958,4.501121,20.170942,22.343873,9.532307
Dartmoor,8.620034,19.697454,2.146567,3.424808,6.502065,38.898299,10.822970,17.946010,85.217907,62.456537,1018.002479,1016.509885,NaN,NaN,12.588893,18.182139,11.062823
Darwin,23.209305,32.540977,5.092452,6.318668,8.499310,40.582355,15.009088,20.831401,68.486216,51.827954,1011.888784,1008.349107,4.337093,4.310345,27.185625,31.082733,9.331087
GoldCoast,17.363286,25.767062,3.769396,NaN,NaN,42.476370,19.349667,25.861416,66.327495,62.980515,1017.922113,1015.214643,NaN,NaN,22.375847,23.771603,8.405741
Hobart,9.078578,17.865727,1.601819,3.601538,6.580151,47.530915,16.307861,19.813225,65.622055,52.944654,1014.531297,1012.961873,4.839901,4.959012,12.462406,16.172955,8.786466
Katherine,20.553564,34.935436,3.201090,7.327003,NaN,38.771465,12.134432,15.772901,63.790247,42.761456,1012.791122,1008.486078,2.579701,3.186183,26.649544,33.546604,14.405819
Launceston,7.836190,18.954911,2.011988,6.166667,NaN,35.634852,8.447117,15.562892,79.500000,57.322442,1015.679279,1013.754213,6.306207,5.718329,12.026269,17.687294,11.117360
Melbourne,11.779174,20.769358,1.870062,4.650282,6.385307,45.610255,19.128800,22.097401,67.545555,51.180710,1017.634427,1015.778450,5.314034,5.336368,14.596091,19.264489,8.992330
MelbourneAirport,9.973945,20.491858,1.451977,4.644378,6.381283,46.919172,20.278923,23.081422,70.115961,51.171333,1018.087670,1016.279096,5.246261,5.263298,14.124925,18.952077,10.517913
Mildura,10.731572,24.840944,0.945062,5.936757,8.468533,37.168775,14.001663,16.694814,64.103792,35.402329,1018.771481,1016.262654,3.382906,3.918909,15.528291,23.427726,14.109372
Moree,12.905853,26.950548,1.630203,7.624956,8.898589,39.890177,18.129043,16.847372,61.376705,35.808589,1018.312429,1014.928624,3.365844,3.981958,18.867132,25.651113,14.041104
MountGambier,8.825477,19.828995,2.087562,3.437072,6.511167,42.866466,17.528868,22.433993,75.492734,57.329043,1017.937656,1016.375848,5.520478,5.478840,13.784858,18.176277,11.003757
MountGinini,3.577280,11.663676,3.292260,NaN,NaN,46.253951,15.991844,15.232377,77.146697,69.722609,NaN,NaN,NaN,NaN,6.815185,10.209180,8.124110
Newcastle,13.760007,24.101070,3.183892,NaN,NaN,NaN,5.978448,10.614354,74.061429,57.362684,NaN,NaN,4.128306,4.311491,18.119251,22.325534,10.413006
Nhil,8.999809,22.405153,0.934863,NaN,NaN,42.542438,16.457088,20.948506,73.042594,44.919263,1018.537063,1016.395868,NaN,NaN,13.382708,20.871837,13.403753
NorahHead,15.355481,22.588937,3.387299,NaN,NaN,42.183051,13.930837,21.027937,74.590756,67.521198,1018.258148,1016.013331,NaN,NaN,18.467611,20.764211,7.230637
NorfolkIsland,16.871875,21.830253,3.127665,4.742703,7.021751,42.607420,20.173609,21.890921,70.781292,67.836714,1017.597501,1015.856801,5.021067,4.849729,19.783822,20.470070,4.960559
Nuriootpa,9.363242,21.704133,1.390343,5.082404,7.672577,40.672269,14.242891,18.171304,66.760253,45.425567,1018.910959,1016.790003,4.679389,4.877679,14.852064,20.305663,12.356741
PearceRAAF,12.303850,26.051238,1.669080,NaN,8.795306,43.579958,16.029107,20.297352,60.823352,42.079142,1017.635609,1015.096075,3.846389,4.031366,18.832230,24.497083,13.720323
Penrith,12.577449,24.764366,2.175304,NaN,NaN,31.807330,6.357262,11.990391,75.822630,49.098990,NaN,NaN,NaN,NaN,16.984267,23.354091,12.195268
Perth,12.922706,25.034837,1.906295,5.606579,8.784536,34.882999,10.693392,14.519737,62.688128,46.906122,1017.784398,1015.420457,3.383579,3.469740,18.573598,23.461748,12.110620
PerthAirport,12.580359,25.533234,1.761648,5.662832,8.795306,44.201822,17.753575,21.268285,58.775673,41.923205,1017.890323,1015.366789,3.371467,3.444260,18.773480,24.086935,12.952875
Portland,9.586867,18.055053,2.530374,3.424808,6.502065,42.059852,16.329564,20.787828,78.711149,65.991656,1017.684084,1016.624041,6.338082,6.066667,13.195745,16.504204,8.467389
Richmond,11.364202,24.458664,2.138462,5.259236,NaN,34.866283,7.005732,14.849596,76.897627,49.000000,1018.696812,1015.640753,6.246281,5.510309,16.566015,23.128682,13.083624
Sale,8.567420,20.282281,1.510167,3.830098,6.683663,42.479777,14.306489,22.265979,78.918729,56.353707,1017.815492,1015.889212,5.345907,5.094383,13.416628,18.782646,11.710708
SalmonGums,9.313007,24.250827,1.034382,NaN,NaN,39.748372,16.298192,17.302286,62.806408,40.751771,NaN,NaN,NaN,NaN,17.046610,22.661518,14.955149
Sydney,14.866826,23.001975,3.324543,5.189220,7.179567,41.757589,15.075347,19.324797,68.221989,54.694386,1018.343906,1016.018163,4.180115,4.218626,17.821923,21.533473,8.136688
SydneyAirport,14.901729,23.383915,3.009917,5.253797,7.191346,47.234280,18.594145,25.769614,64.834719,53.904825,1018.361213,1015.972854,4.280532,4.278498,18.544880,21.780352,8.480785
Townsville,20.417874,29.367160,3.485592,7.198949,8.457814,38.840570,15.227452,24.251728,63.954276,57.400987,1015.165493,1011.905691,4.300070,4.012667,25.634967,27.769934,8.946954
Tuggeranong,7.242133,20.767545,2.164043,NaN,NaN,35.215883,7.653183,14.894667,72.827095,47.185724,1018.505622,1015.655680,NaN,NaN,12.573899,19.422472,13.530059
Uluru,14.466688,30.383195,0.784363,NaN,NaN,41.268373,17.616732,17.028424,42.664107,24.127700,1017.101403,1013.307751,5.543103,4.834532,21.012348,29.054511,15.934958
WaggaWagga,9.617182,23.031871,1.709946,5.178823,8.197864,36.648105,12.855766,16.218085,67.856953,42.586574,1018.510037,1015.859854,3.854989,4.194993,14.925457,21.749950,13.414689
Walpole,11.806631,20.459184,2.906846,NaN,NaN,39.818836,13.915910,17.227410,76.119266,66.316022,1017.878811,1016.237047,NaN,NaN,15.926158,18.560134,8.655992
Watsonia,10.131879,20.896078,1.860820,4.644378,6.381283,38.059219,9.910239,15.183843,78.383973,54.708873,1018.030229,1016.085045,5.246261,5.263298,13.766010,19.395181,10.751299
Williamtown,12.780180,24.001065,3.591108,6.801387,7.153063,41.677801,16.474599,22.237921,71.773742,53.937708,1018.436370,1015.919746,4.700042,4.484322,18.079694,22.499435,11.229194
Witchcliffe,10.775067,21.686247,2.895664,NaN,NaN,40.085013,13.966367,19.164616,71.364753,57.780180,1018.395130,1016.732974,NaN,NaN,16.542895,19.810376,10.900668
Wollongong,14.939471,21.468174,3.594903,NaN,NaN,45.690842,16.618351,21.926270,67.661906,65.128571,1018.149331,1016.055809,6.222305,5.855328,18.190203,19.934872,6.526945
Woomera,13.363727,26.596707,0.490405,10.141440,9.047932,44.156566,20.002662,20.605728,53.127503,28.402414,1018.632655,1015.969917,2.518027,2.891489,17.924701,25.201896,13.221885